.container-clientes{
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    max-width: auto;
    margin:0 auto;
    padding:40px 20px;
    background-color: #3C995A;
    height: 318px;
    overflow: hidden;
    padding-top: -40px;

}

.texto-cliente{
    font-family: 'Inter', sans-serif;
    font-size:36px;
    text-align:center;
    position: relative;
    top:-10px;
    color:#083D29;
    right: -30px;
}

.imagenes-cliente{
    display:flex;
    width: max-content;
    animation:scroll 60s linear infinite;
    padding-left: 10%;
    margin-top: 40px;
}

.container-clientes .slider{
    height:150px;
    overflow:hidden;
    position:relative;
}

.container-clientes .slide{
    width:250px;
    display:flex;
    justify-content: center;
    align-items: center;
    padding: 0 20px;
}

.container-clientes .slide img{
    width: 100%;
    max-width:200px;
    height: auto;
    background:#3C995A;
    border-radius:10px;
    box-shadow:0 0 5px rgba(0,0,0,0.2);
}

@keyframes scroll{
    0%{ transform:translateX(0);}
    100%{transform:translateX(-50%);}
}

