/* CONTAINER INFORMACION */
.container-informacion {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 50px;
    padding: var(--page-sides);
    background-color: #083d29;

    & > a {
        width: 137px;
    }
}

.grupo-informacion {
    display: flex;
    gap: 30px;
}

.grupo-informacion .informacion {
    display: flex;
    align-items: center;
    gap: 6px;

    & img {
        width: 28px;
        height: 28px;
    }

    & h3, a {
        color: #ffffff;
    }

    & a {
        text-decoration: none;
    }
}
/* END-CONTAINER INFORMACION */

/* CONTAINER AYUDA*/
.container-ayuda {
    padding: 38px var(--page-sides) 28px;
    background-color: #083d29;
}

.ayuda-content {
    display: flex;
    align-items: center;
    justify-content: space-between;

    & .container-texto h2 {
        font-size: 40px;
        color: #ffffff;
    }

    & .container-texto h3 {
        font-size: 24px;
        color:#3c995a;
    }

    & > a {
        width: 250px;
    }
}
/* END-CONTAINER AYUDA*/

/* CONTAINER CLIENTES */
.container-clientes {
    height: 318px;
    background-color: #3c995a;
}

.clientes-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 50px;
    height: 100%;
    overflow: hidden;
    color: #083d29;
}

.clientes-content .texto-cliente {
    font-size: 40px;
}

.clientes-content .slider {
    display: flex;
    gap: 16px;
    width: 100%;
    animation: scroll 10s linear infinite;
}

.clientes-content .slider img {
    width: 163px;
    height: 73px;
}

@keyframes scroll {
    0% {
        transform:translateX(0);
    }

    100% {
        transform:translateX(-101.5%);
    }
    
}
/* END-CONTAINER CLIENTES */


/*cel*/

@media screen and (max-width: 768px) {
    /*.container-ayuda {
        padding: 20px 12px; 
    }

    .ayuda-content {
        flex-direction: column;
        align-items: flex-start;
        gap: 18px; 
    }

    .ayuda-content .estilo-texto-ayuda {
        font-size: 18px; 
    }

    .ayuda-content .estilo-texto-nosotros {
        font-size: 11px;
        display: block;
        white-space: pre-line;
    }

    .ayuda-content > a {
        width: 180px;
        min-width: 120px;
        align-self: center; /* Centra verticalmente el botón *//*
        text-align: center;
        
    }    
*/
.ayuda-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 24px;
}

.ayuda-content .estilo-texto-ayuda,
.ayuda-content .estilo-texto-nosotros {
    text-align: left;
}

.ayuda-content .estilo-texto-ayuda {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 4px;
}

.ayuda-content .estilo-texto-nosotros {
    font-size: 15px;
    color: #3C995A;
    margin: 0;
}

.ayuda-content > a {
    width: 160px;
    min-width: 120px;
    align-self: center;
    text-align: center;
}
}