@media (max-width: 899px) {
    .container-informacion > a {
        --gb-height: 29px;
        /* --- */
        width: 77px;
        font-size: 10px;
    }

    .grupo-informacion {
        gap: 25px;
    }

    .grupo-informacion .informacion {
        & img {
            width: 23px;
            height: 23px;
        }

        & h3, a {
            font-size: 10px;
        }
    }

    /* CONTAINER AYUDA*/
    .ayuda-content {
        & .container-texto h2 {
            font-size: 25px;
        }

        & .container-texto h3 {
            font-size: 14px;
        }

        & > a {
            --gb-height: 30px;
            /* --- */
            width: 156px;
            font-size: 10px;
        }
    }
    /* END-CONTAINER AYUDA*/
}

@media (max-width: 624px) {
    .container-informacion {
        gap: 20px;

        & > a {
            --gb-height: 22px;
            /* --- */
            width: 60px;
            font-size: 7px;
        }
    }

    .grupo-informacion {
        gap: 15px;
    }

    .grupo-informacion .informacion {
        & img {
            width: 15px;
            height: 15px;
        }

        & h3, a {
            font-size: 7px;
        }
    }

    /* CONTAINER AYUDA*/
    .ayuda-content {
        & .container-texto h2 {
            font-size: 18px;
        }

        & .container-texto h3 {
            font-size: 11px;
        }

        & > a {
            --gb-height: 22px;
            /* --- */
            width: 86px;
            font-size: 8px;
        }
    }
    /* END-CONTAINER AYUDA*/
}
