/*Inicio Banner */

.contenedor_banner{
    display:flex;
    min-width: 1448px;
    min-height: 478px;
}

.contenedor-imagen{
    display: flex;
    justify-content: center;
    
    
}

.contenedor-imagen img{
    width: 1510px;
    height: 478px;

}

/*Final Banner */


/*Inicio Monitoreo*/

.contenedor-monitoreo{
    display:flex;
    width: 100%;
    background-color: white;
    justify-content:center;
}

.contenedor-texto{
    display: flex;
}

.contenedor-texto h2{
    font-family: 'Inter',sans-serif;
    color:#083D29;
    font-size: 35px;
    font-weight: bold;
    margin-top: 40px;
}

.contenedor-parrafo{
    display:flex;
    margin-top: 30px;
}

.contenedor-parrafo p{
    font-family: 'Inter',sans-serif;
    color:#3E4851;
    text-align: center;
    font-size:20px;
    font-weight:100;
}



.contenedor-boton{
    display: flex;
    margin-top: 40px;
}

.boton-verde{
    height: 40px;
    border-radius: 8px;
    padding:12px 24px;
    background-color: #009951;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #f5f5f5;
    cursor:pointer;
    
}

.contenedor-texto-aire{
    display:flex;
    margin-right: 625px;
}

.contenedor-texto-aire h2{
    font-family: 'Inter',sans-serif;
    color:#083D29;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}

.contenedor-imagen-texto{
    display:flex;
    justify-content: center;
    background-color: white;
    gap:40px;
    padding:40px 0;
    flex-wrap: wrap;
    width: 100%;;
    
}

.imagen-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imagen-texto p{
    font-family: 'Inter',sans-serif;
    color:#757575;
    font-size: 25px;
    line-height: 1;
    margin-top: 12px;
    text-align: center;

}

.fila{
    display:flex;
    align-items: flex-start;
    gap:15px
}


.ancho-300 {
  width: 100%;
  max-width: 300px;
}

.ancho-500 {
  width: 100%;
  max-width: 500px;
}


