/*Inicio Banner */


* {
    outline: 1px solid red;


}



.contenedor_banner{
    display:flex;
    width: 100%;
    min-height: 478px;
    flex-wrap: wrap;
}

.contenedor-imagen{
    display: flex;
    justify-content: center;
    
    
}

.contenedor-imagen img{
    width: 100%;
    max-width: 100%;
    height: auto;
    display: block;

}

/*Final Banner */


/*Inicio Monitoreo*/

body{
    margin: 0;
    padding: 0;
    overflow-x: hidden;
}

.contenedor-monitoreo{
    display:flex;
    width: 100%;
    background-color: white;
    justify-content:center;
}

.contenedor-monitoreo-cap{
    display:flex;
    width: 100%;
    background-color: white;
    justify-content:flex-start;
}


.contenedor-texto{
    display: flex;
}

.contenedor-texto h2{
    font-family: 'Inter','sans-serif';
    color:#083D29;
    font-size: 35px;
    font-weight: bold;
    margin-top: 40px;
}

.contenedor-texto-cap{
    display: flex;

}

.contenedor-texto-cap h2{
    color:#083D29;
    font-size: 25px;
    font-weight: bold;
    margin-top: 40px;
    margin-left: 200px;
}



.contenedor-parrafo{
    display:flex;
    margin-top: 30px;
}

.contenedor-parrafo p{
    color:#3E4851;
    font-size:20px;
    font-weight:100;
    margin-left: 15px;
    text-align: center;
}

.contenedor-parrafo-cap{
    display:flex;
    margin-top: 30px;

}

.contenedor-parrafo-cap p{
    color:#3E4851;
    font-size:20px;
    font-weight:100;
    margin-left: 200px;
}



.contenedor-boton{
    display: flex;
    margin-top: 40px;
}

.contenedor-boton-cap{
    display: flex;
    margin-top: 40px;
    margin-left: 200px;

}


.boton-verde{
    height: 40px;
    border-radius: 8px;
    padding:12px 24px;
    background-color: #009951;
    line-height: 20px;
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #f5f5f5;
    cursor:pointer;
    
}

.contenedor-texto-aire{
    display:flex;
    margin-right: 625px;
}

.contenedor-texto-aire h2{
    font-family: 'Inter','sans-serif';
    color:#083D29;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
}

.contenedor-imagen-texto{
    display:flex;
    justify-content: center;
    background-color: white;
    gap:40px;
    padding:40px 0;
    flex-wrap: wrap;
    width: 100%;;
    
}

.contenedor-imagen-texto-cap{
    display:flex;
    justify-content: center;
    background-color: white;
    gap:40px;
    padding:40px 0;
    flex-wrap: wrap;
    width: 100%;;
    
}

.imagen-texto{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imagen-texto p{
    color:#757575;
    font-size: 25px;
    line-height: 1;
    margin-top: 12px;
    text-align: center;

}

.imagen-texto-cap{
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

.imagen-texto-cap p{
    color:#757575;
    font-size: 25px;
    line-height: 1;
    margin-top: 12px;
    text-align: center;

}

.imagen-texto-cap.flora img{
    width: 78px;
    height:115px;
    margin-top:10px
}

.imagen-texto-cap.fauna{
    order: 5;
}

.fila{
    display:flex;
    align-items: flex-start;
    gap:15px
}


.ancho-300 {
  width: 100%;
  max-width: 300px;
}

.ancho-500 {
  width: 100%;
  max-width: 500px;
}

.ancho-400{
    width: 100%;
    max-width:400px;
}

.altura-802{
    height: 802px;
}


.contenedor-boton-what{
    position:relative;
    background-color: white;
}

.contenedor-boton-what a{
    position: absolute;
    right: 100px;
    top:-50px;
}

.contenedor-boton-what-nos{
    position:relative;
    background-color: white;
}

.contenedor-boton-what-nos a{
    position: absolute;
    right: 100px;
    top:200px;
}

.salto-celular{
    line-height: 1;
    display: none;
    margin:0;
    padding: 0;
}

.salto-celular-net{
    display: inline;
    line-height: 1;
    margin:0;
    padding: 0;
}

