@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,700;1,14..32,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cal+Sans&display=swap');

:root {
    --center: 1440px;
    --page-sides: 30px;
    --font-inter: "Inter", sans-serif;
    --font-cal-sans: "Cal Sans", sans-serif;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: var(--font-cal-sans);
    font-size: 16px;
    font-weight: 400;
}

html {
    scroll-behavior: smooth;
}

body {
    --height-header: 100px;
}

/* CENTER */
.center {
    max-width: var(--center);
    margin: 0 auto;
}

.center > .slider > .slide > .content,
.center-r {
    max-width: calc(var(--center) - 380px);
    margin: 0 auto;
}

/* BANNER */
.banner {
    height: 478px;
    position: relative;
}

.banner::after {
    content: "";
    width: 100%;
    height: 298px;
    position: absolute;
    left: 0;
    bottom: 0;
    background: linear-gradient(180deg,
        rgba(255, 255, 255, 0) 8.65%,
        rgba(8, 61, 41, 0.22) 28.41%,
        rgba(8, 61, 41, 0.625) 56.45%,
        rgba(8, 61, 41, 0.75) 79.59%);
}

.banner img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
/* END-BANNER */

/* SERVICES DESCRIPTION  */
.sd-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 22px;
    padding: 76px 0 30px;
}

.sd-section h2 {
    margin-bottom: 10px;
    font-size: 40px;
    text-transform: uppercase;
    color: #083d29;
}

.sd-section p {
    width: 835px;
    font-size: 20px;
    text-align: center;
    color: #757575;
}

.sd-section a {
    width: 137px;
}

/* BUTTON */
.green-button {
    display: block;
    height: 40px;
    border-radius: 8px;
    background-color: #009951;
    border: 1px solid #02542D;
    line-height: 40px;
    font-family: var(--font-inter);
    text-align: center;
    text-decoration: none;
    text-transform: uppercase;
    color: #f5f5f5;
}

/*  */
.font-inter * {
    font-family: var(--font-inter);
    font-weight: 700;
}

/* BODY */
header {
    padding: 0 30px;
    background-color: #ffffff;
}

main {
    background-color: #f6f6ee;
}

footer {
    position: relative;
    background-color: #052323;
}
/* END-BODY */
