/* HEADER */
.header-wrapper {
    --hw-height: 100px;
    /* --- */
    height: var(--hw-height);
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.header-wrapper .brand {
    width: 248px;
    height: 59px;

    & img {
        width: 100%;
        height: 100%;
    }
}

.header-wrapper div:last-child {
    display: flex;
    align-items: center;
    gap: 100px;
}

.header-wrapper div:last-child .menu-container > ul {
    display: flex;
    list-style-type: none;

    & li a {
        display: block;
        font-size: 13px;
        text-decoration: none;
        color: #083d29;
    }

    & li:hover > a {
        color: #31955b;
    } 
}

/* .header-wrapper */
#menu-toggle:checked ~ .menu-icon span {
    background-color: #31955b;
}

#menu-toggle:checked ~ .menu-icon span:nth-child(1) {
    transform-origin: 0 50%;
    transform: translateX(11%) rotate(40deg);
}

#menu-toggle:checked ~ .menu-icon span:nth-child(2) {
    width: 0;
}

#menu-toggle:checked ~ .menu-icon span:nth-child(3) {
    transform-origin: 0 50%;
    transform: translateX(11%) rotate(-40deg);
}

#menu-toggle:checked ~ .menu-container {
    display: initial;
}

.menu-icon {
    width: 40px;
    height: 30px;
    display: none;
    gap: 8px;
    cursor: pointer;
}

.menu-icon span {
    width: 100%;
    background-color: #000000; 
    border-radius: 50px;
    transition: .1s ease-in-out;
}

.menu-container {
    position: relative;
}

.menu-container ul {
    --ul-line-height: 100px;
    /* --- */
    gap: 30px;

    & li a {
        line-height: var(--ul-line-height);
    }

    & li:hover > a {
        box-shadow: 0 -3px 0 0 #31955b inset;
    }
}

.menu-container ul li:nth-child(3) .submenu {
    --ul-line-height: 50px;
    /* --- */
    width: 150%;
    height: 0;
    position: absolute;
    overflow: hidden;
    list-style-type: none;
    background-color: #ffffff;
    transition: height .3s ease-in-out;
    z-index: 2; /* TEMP */

    & li a {
        padding-left: calc(var(--page-sides) / 2);
    }
}

.menu-container ul li:nth-child(3):hover .submenu {
    height: calc(var(--ul-line-height) * 7);
}

.header-wrapper .social-list li a {
    width: 20px;
    height: 20px;

    & img {
        filter:
            invert(53%)
            sepia(28%)
            saturate(927%)
            hue-rotate(92deg)
            brightness(86%)
            contrast(87%);
    }
}

/* END-HEADER */

/* FOOTER */
.footer-wrapper {
    background-color: #052323;
}

/* .footer-wrapper */
.footer-container {
    padding: 140px var(--page-sides) 45px;
}

.footer-container .back {
    width: 76px;
    height: 69px;
    position: absolute;
    top: -28px;
    left: 50%;
    transform: translateX(-50%);

    & img {
        width: 100%;
        height: 100%;
    }
}

.footer-container .footer-section {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 30px;

    & > img {
        width: 226px;
        height: 58px;
        object-fit: cover;
    }

    & div h3 {
        font-size: 24px;
        color: #009951;
    }
}

.footer-container .footer-section div ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    margin-top: 30px;
    list-style-type: none;

    & li * {
        font-size: 12px;
        text-decoration: none;
        color: #ffffff;
    }
}

.footer-container .footer-section .mod ul li {
    display: flex;
    gap: 5px;

    & img {
        width: 24px;
        height: 29px;
    }
}

.footer-container .footer-section .mod:last-child ul li {
    align-items: center;

    & * {
        font-size: 16px;
    }
}

.footer-wrapper .social-list {
    justify-content: center;
    padding: 24px 0;
    border-top: 2px dashed #fbf6f0;
}

.footer-wrapper .social-list li a {
    width: 25px;
    height: 25px;
}
/* .footer-wrapper */

.copyright {
    padding: 15px 0;
    background-color: #009951;
    text-align: center;
    
    & small a {
        color: #000000;
    }
}
/* END-FOOTER */
