@media (max-width: 899px) {
    /* HEADER */
    /* .header-wrapper */
    .menu-icon {
        display: grid;
    }

    .menu-container  {
        width: 360px;
        height: calc(100vh - var(--hw-height));
        position: absolute;
        top: 100%;
        left: -100%;
        background-color: #ffffff;
        transition: left .3s ease-in-out;
        z-index: 2;
    }

    .menu-container::after {
        content: "";
        /* width: 100dvw; */
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;
        background: linear-gradient(-90deg,
            rgba(255, 255, 255, 0) 8.65%,
            rgba(8, 61, 41, 0.22) 28.41%,
            rgba(8, 61, 41, 0.625) 56.45%,
            rgba(8, 61, 41, 0.75) 79.59%);
    }

    .menu-container ul {
        --ul-line-height: 70px;
        /* --- */
        flex-direction: column;
        gap: 0;

        & li a {
            padding-left: var(--page-sides);
        }
    }

    .menu-container ul li:nth-child(3) .submenu {
        width: 100%;
        position: initial;
    }

    .header-wrapper .social-list {
        display: none;
    }
    /* END-HEADER */

    /* FOOTER */
    /* .footer-wrapper */
    .footer-container .footer-section {
        grid-template-columns: 1fr;

        & > * {
            margin: 0 auto;
        }
    }

    .footer-container .footer-section div {
        width: 300px;

        & h3 {
            text-align: center;
        }
    }
    /* END-FOOTER */
}
