@media (max-width: 1030px) {
    /* .header-wrapper */
    .menu-container  {
        width: 50vw;
        height: 100vh;
        position: fixed;
        top: var(--hw-c-height);
        left: 0;
        background-color: #ffffff;
        z-index: 2; /* TEMP */
    }

    .menu-container::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;
        background-color: #00000085;
    }

    .menu-container ul {
        flex-direction: column;
        gap: 0;

        & li a {
            --c-line-height: 70px;
            /* --- */
            padding-left: 20px;
        }
    }

    .menu-container ul li:nth-child(3) .submenu {
        --sm-c-height: 280px;
        /* --- */
        width: 100%;
        position: initial;

        & li {
            margin-left: 40px;

            & a {
                padding-left: 0;
            }
        }
    }

    .menu-container .pages {
        display: none;
        flex-direction: column;
        gap: 0;
        width: 50%;
        height: 100%;
        position: fixed;
        top: var(--header-height);
        right: 0;
        background-color: #ffffff;
        text-align: center;
        z-index: 2;
    }


    .menu-container .pages li a {
        padding: 18px 0;
        border-width: 3px;
    }

    .menu-container .social-nets {
        gap: 16px;
    }

    .menu-container .social-nets li a img {
        height: 35px;
    }

    .menu-container .menu-icon {
        display: grid;
    }
}
