/* HEADER */
.h-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: var(--header-height);
    position: relative;
}

.brand-container {
    width: 248px;
    height: 59px;
}

.menu-container {
    display: flex;
    align-items: center;
    gap: 100px;
}

.menu-container ul {
    display: inherit;
    list-style-type: none;
}

.menu-container ul li a {
    display: block;
    border-top: 2px solid transparent;
    border-bottom: 2px solid transparent;
    font-family: "Inter", sans-serif;
    font-size: 13px;
    font-weight: 700;
    text-decoration: none;
    text-transform: uppercase;
    color: #083d29;
    cursor: pointer; /* Cambia el signo de flecha por una mano*/
}

.menu-container .pages {
    gap: 30px; /* Espacio entre cajas flex */
}

.menu-container .pages li a:hover {
    border-bottom-color: #31955b;
    color: #31955b;
}

.menu-container .social-nets {
    gap: 8px;
}

.menu-container .social-nets li a {
    border-width: 0;
}

.menu-container .social-nets li a img {
    display: block;
    height: 20px;
    filter: invert(45%) sepia(26%) saturate(970%) hue-rotate(92deg) brightness(102%) contrast(89%);
}

.menu-container .menu-icon {
    display: none;
    gap: 10px;
    width: 40px;
    height: 30px;
    cursor: pointer;
}

.menu-container .menu-icon span {
    width: 100%;
    background-color: #000000; 
}

.menu-container #menu-toggle:checked ~ .menu-icon span:nth-child(1) {
    transform: translateX(12%) rotate(42deg);
    transform-origin: 0 50%;
}

.menu-container #menu-toggle:checked ~ .menu-icon span:nth-child(2) {
    width: 0;
}

.menu-container #menu-toggle:checked ~ .menu-icon span:nth-child(3) {
    transform: translateX(12%) rotate(-42deg);
    transform-origin: 0 50%;
}

.menu-container #menu-toggle:checked ~ .pages {
    display: flex;
}
/* END-HEADER */

/* FOOTER */
footer {
    position: relative;
    background-color: #052323;
}

footer > a {
    position: absolute;
    top: -6%;
    left: 50%;
    transform: translateX(-50%);
}

.footer-content {
    display: flex;
    gap: 30px;
    width: 100%;
    padding-top: 140px;
    padding-bottom: 44px;
}

.footer-content > * {
    flex: 1;
}

.footer-content .logo-blanco {
    width: 226px;
    height: 58px;
}

.footer-section .titulo-footer {
    margin-bottom: 30px;
    font-size: 24px;
    color: #009951;
}

.footer-section ul {
    display: flex;
    flex-direction: column;
    gap: 5px;
    list-style-type: none;
}

.footer-section ul li,
.footer-section ul li a {
    font-size: 12px;
    font-weight: 700;
    text-decoration: none;
    color: #ffffff;
}

.footer-section .list-img {
    gap: 10px;
}

.footer-section .list-img li {
    display: flex;
    align-items: center;
    gap: 4px;
}

.footer-section .list-img-1 {
    width: 240px;
}

.footer-section .list-img-1 li img {
    align-self: flex-start;
}

footer .imagenes-footer {
    height: 78px;
    border-top: 2px dashed #fbf6f0
}

footer .imagenes-footer ul {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    height: 100%;
    list-style-type: none;
}

footer .imagenes-footer ul li a img {
    display: block;
    height: 25px;
}

.copyright {
    height: 64px;
    line-height: 64px;
    background-color: #009951;
    text-align: center;
}

.copyright a {
    font-weight: 400;
    text-transform: uppercase;
    color: #000000;
}
/* END-FOOTER */
