@media (max-width: 1030px) {
    /* HEADER */
    /* .header-wrapper */
    .menu-container  {
        width: 50vw;
        height: 100vh;
        display: none; /* TEMP */
        position: fixed;
        top: var(--hw-height);
        left: 0;
        background-color: #ffffff;
        z-index: 2; /* TEMP */
    }

    .menu-container::after {
        content: "";
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 100%;
        background-color: #00000085;
    }

    .menu-container ul {
        --ul-line-height: 70px;
        /* --- */
        flex-direction: column;
        gap: 0;

        & li a {
            padding-left: var(--page-sides);
        }
    }

    .menu-container ul li:nth-child(3) .submenu {
        width: 100%;
        position: initial;
    }

    .menu-container .pages {
        display: none;
        flex-direction: column;
        gap: 0;
        width: 50%;
        height: 100%;
        position: fixed;
        top: var(--header-height);
        right: 0;
        background-color: #ffffff;
        text-align: center;
        z-index: 2;
    }


    .menu-container .pages li a {
        padding: 18px 0;
        border-width: 3px;
    }

    .menu-container .social-nets {
        gap: 16px;
    }

    .menu-container .social-nets li a img {
        height: 35px;
    }

    .menu-container .menu-icon {
        display: grid;
    }
    /* END-HEADER */

    /* FOOTER */
    /* .footer-wrapper */
    .footer-container .footer-section {
        grid-template-columns: 1fr;

        & > * {
            margin: 0 auto;
        }
    }

    .footer-container .footer-section div {
        width: 300px;

        & h3 {
            text-align: center;
        }
    }
    /* END-FOOTER */
}
