main {
    background-color: #ffffff;
}

/* SECCION SERVICES */
.ns-section {
    padding-bottom: 70px !important;
}

.container-servicios {
    padding-top: 0 !important;
}
/* END-SECCION SERVICES*/
