main {
    background-color: #ffffff;
}


/* Seccion Pilares */
.pilares {
    padding: 85px 0 ;
    background-color: #083d29;
}

.pilares-content {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 103px;
}

.pilares-content h3 {
    grid-column: 1 / -1;
    font-size: 35px;
    color: #009951;
    text-align: center;
}

.pilares-content .pilar {
    display: flex;
    gap: 30px;
}

.pilares-content .pilar-image {
    width: 130px;
    height: 130px;
    margin-top: 68px;
}

.pilares-content .pilar h4 {
    margin-left: 50px;
    margin-bottom: 22px;
    font-size: 35px;
    color: #ffffff;
}

.pilares-content .pilar p {
    font-size: 20px;
    text-align: justify;
    color: #fbf6f0;
}

/* Seccion Valores */
.valores {
    padding: 77px 0 190px;
    background-color: #f6f6ee;
}

.valores-content {
    display: flex;
    flex-wrap: wrap;
    column-gap: 75px;
    row-gap: 94px;
}

.valores-content > * {
    flex: auto;
}

.valores-content h3 {
    width: 100%;
    font-size: 35px;
    text-align: center;
    color: #083d29;
}

.valores-content .valor {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 50px;
}

.valores-content .valor img {
    width: 94px;
    height: 94px;
}

.valores-content .valor strong {
    font-family: var(--font-inter);
    font-size: 32px;
    font-weight: 700;
    color: #083d29;
}

/*adaptable*/

@media (max-width: 900px) {
    .pilares-content {
        padding: 20px;
        grid-template-columns: 1fr; 
        gap: 30px;
    }
    .pilares-content .pilar {
        display: flex;
        align-items: flex-start;  
        gap: 50px;                
        margin-bottom: 30px;
    }
    .pilares-content .pilar-image {
        width: 70px;
        height: 70px;
        margin: 0;
        flex-shrink: 0;
        margin-right: 20px;
    }
    .pilares-content .pilar h4,
    .pilares-content .pilar p {
    font-size: 15px;
    margin: 10px 0;
    }

    /*valores*/
    .valores-content .valor img {
    
        width: 90px;
        height: 90px;
    }
    /*texto */
    .valores-content .valor strong {
        padding: 20px;
        font-size: 18px;
        padding: 0 5px;
    }

}
