.container-clientes{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    max-width: auto;
    margin:0 auto;
    padding:40px 20px;
    background-color: #3C995A;
    height: 318px;

}

.texto-cliente{
    font-family: 'Inter', sans-serif;
    font-size:32px;
    text-align:center;
    position: relative;
    top:-20px;
    color:#083D29;
}

.imagenes-cliente{
    display:flex;
    gap:20px;
    flex-wrap:wrap;
}

